<% if signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-dark mb-1 sticky-top">
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag 'moosebird.png', size: '40x25', class: 'mb-1' %>
      <%= Rails.application.config.application_name %> Appliance
    </a>
    <div class="navbar-nav">
      <a class="nax-item nav-link <%= 'active' if current_page?(cluster_path) %>"
         href="<%= cluster_path %>">
         Appliance Information
      </a>
      <a class="nav-item nav-link <%= 'active' if current_page?(users_path) %>"
         href="<%= users_path %>">
        User Management
      </a>
      <a class="nav-item nav-link <%= 'active' if current_page?(ssh_path) %>"
         href="<%= ssh_path %>">
        SSH Key Management
      </a>
      <a class="nav-item nav-link <%= 'active' if current_page?(network_path) %>"
         href="<%= network_path %>">
         Network Management
      </a>
      <% if bolt_on_enabled('Terminal') %>
        <%= link_to 'Console',
            console_path,
            class: "nav-item nav-link #{'active' if current_page?(console_path)}",
            method: :get
        %>
      <% end %>
      <%= link_to "(#{current_user.username}) Sign Out",
          logout_path,
          method: :delete,
          class: 'nav-item nav-link logout-btn'
      %>
    </div>
  </nav>
<% end %>
