<div class="card d-flex mb-2">
  <div>
    <h5 class="card-header"><%= name %>
      <span class="pull-right <%= status[:class] %>">
        <i class="fa fa-power-off"></i>
        <%= status[:text] %>
      </span>
    </h5>
  </div>
  <div class="card-body">
    <div class="row mb-1">
      <div class="col-sm-3 form-label mt-1">
        <p>Client Name:</p>
      </div>
      <div class="col-sm-6">
        <input class="form-control" value=<%= client_name %> readonly %>
      </div>
    </div>

    <div class="row mb-1">
      <div class="col-sm-3 form-label mt-1">
        <p>Password:</p>
      </div>
      <div class="col-sm-6 mb-1">
        <input id=<%= name %> class="form-control" readonly>
        <button class="input-icon" type="button" onclick="copyToClipboard(<%= name %>)">
          <span class="fa fa-copy"
                data-toggle="tooltip"
                title="Copy to clipboard">
          </span>
        </button>
        <small class="form-text text-muted text-left">
          <i class="fa fa-exclamation-circle"></i>
          Once you leave this page you will not be able to reobtain this password
        </small>
      </div>
      <div class="col-sm-3 text-center">
        <input class="btn btn-primary w-100"
               type="button"
               value="Generate" onclick="generatePassword(<%= name %>)">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3 form-label">
        <p>Script:</p>
      </div>
      <div class="col-sm-9">
        <textarea class="form-control" readonly><%= client_script.lstrip %></textarea>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-sm-3 col-md-auto col-lg-3 center">
        <%= link_to 'Deconfigure',
                    vpn_deconfigure_path(slot: name),
                    class: 'btn btn-danger w-100',
                    method: :post,
                    data: { confirm: "Are you sure you wish to deconfigure this VPN slot?" }
        %>
      </div>
    </div>
  </div>
</div>

<script>

function generatePassword(e) {
  $.ajax({
    url: '<%= vpn_generate_password_path(slot: name) %>',
    method: 'GET'
  }).done(function(data, textStatus, xhr){
    $(e).val(xhr.responseText);
  });
}

function copyToClipboard(e) {
  e.select();
  e.setSelectionRange(0, 99999);

  document.execCommand("copy");
}

</script>
