<div class="card d-flex mb-2">
  <h5 class="card-header"><%= name %></h5>
  <div class="card-body">
    <%= form_for(:vpn, url: vpn_assign_path, html: { class: 'text-center w-100' }) do |f| %>
      <%= f.hidden_field :slot, value: name %>
      <div class="row mb-1">
        <div class="col-sm-3 form-label mt-1">
          <%= f.label :client_name, 'Client Name:' %>
        </div>
        <div class="col-sm-6">
          <%= f.text_field :client_name, class: 'form-control', required: true %>
        </div>
        <div class="col-sm-3">
          <%= f.submit 'Assign Slot', class: 'btn btn-primary w-100' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
