<% content_for(:title) { 'Network Management' } %>

<div class="row center mt-3" style="width: 90%;">
  <div class="col" style="min-width: 50%;">
  <h3 class="header">Network Interfaces</h3>
    <% @network_interfaces.each do |interface| %>
      <div>
        <div class="card d-flex center">
          <div class="card-header">
            <h5 style="display: inline-block">Network: <%= interface['name'] %></h5>
            <% if @metal_platform %>
              <%= link_to raw('<i class="fa fa-pencil fa-pull-right mt-1"></i>'),
                          "##{interface['name']}_network_modal",
                          "data-toggle": 'modal'
              %>
            <% end %>
          </div>
          <div class="card-body">
            <b>Name</b>: <%= interface['name'] %><br>
            <b>Status</b>: <%= interface['status'] %><br>
            <b>Hardware Address</b>: <%= interface['mac'] %><br>
            <b>IPV4</b>: <%= interface['ipv4'].join(", ") %><br>
            <b>Firewall Zone</b>: <%= interface['firewall_zone'] %><br>
          </div>
        </div>
      </div>
      <br>
      <% if @metal_platform %>
        <%= render 'network/modify_network_modal', name: interface['name'] %>
      <% end %>
    <% end %>
  </div>
  <div class="col">
    <h3 class="header">Firewall Zones</h3>
    <% @firewall_zones.each do |zone| %>
    <div>
        <div class="card d-flex center">
          <h5 class="card-header">Zone: <%= zone['name'] %></h5>
          <div class="card-body">
            <b>Name</b>: <%= zone['name'] %><br>
            <b>Interfaces</b>: <%= zone['interfaces'].join(", ") %><br>
            <b>Services</b>: <%= zone['services'].join(", ") %><br>
            <b>Ports</b>: <%= zone['ports'].join(", ") %><br>
            <b>Masquerade</b>: <%= zone['masquerade'] %><br>
          </div>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>
