<% content_for(:title) { 'Network Management' } %>

<div class="row center mt-3" style="width: 90%;">
  <div class="col" style="min-width: 50%;">
  <h3 class="header">Network Interfaces</h3>
    <% @network_interfaces.each do |interface| %>
      <div>
        <div class="card d-flex center">
          <h5 class="card-header">Interface: <%= interface['name'] %></h5>
          <div class="card-body">
            <b>Name</b>: <%= interface['name'] %><br>
            <b>Status</b>: <%= interface['status'] %><br>
            <b>Hardware Address</b>: <%= interface['mac'] %><br>
            <b>IPV4</b>: <%= interface['ipv4'] %><br>
            <b>Firewall Zone</b>: <%= interface['firewall_zone'] %><br>
          </div>
        </div>
      </div>
      <br>
    <% end %>
  </div>
  <div class="col">
    <h3 class="header">Firewall Zones</h3>
    <% @firewall_zones.each do |zone| %>
    <div>
        <div class="card d-flex center">
          <h5 class="card-header">Zone: <%= zone['name'] %></h5>
          <div class="card-body">
            <b>Name</b>: <%= zone['name'] %><br>
            <b>Interfaces</b>: <%= zone['interfaces'] %><br>
            <b>Services</b>: <%= zone['services'] %><br>
            <b>Ports</b>: <%= zone['ports'] %><br>
            <b>Masquerade</b>: <%= zone['masquerade'] %><br>
          </div>
        </div>
      </div>
      <br>
    <% end %>
  </div>
</div>
