<% content_for(:title) { 'Asset Information' } %>

<div class="center text-center" style="width: 90%;">
  <div class="relative-row">
    <h1 class="center">Asset Information</h1>
    <div class="filter-bar w-25">
      <%= form_tag(assets_path,
                    {
                      method: :get,
                      enforce_utf8: false,
                      class: 'input-group'
                    }
                  ) do %>
        <div class="input-group-prepend">
          <%= select_tag :filter_on,
            options_for_select([['Group', 'group'], ['Type', 'type']]),
            class: 'btn btn-primary'
          %>
        </div>
        <%= text_field_tag :filter_arg, "", class: 'form-control' %>
        <div class="input-group-append">
          <%= submit_tag 'Filter', name: nil, class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <% if @assets and not @assets.empty? %>
      <% @assets.each do |type, assets| %>
        <div class='card'>
          <h2> <%= type.downcase.capitalize %> </h2>
          <p>
            <% assets.each do |a| %>
              <span class="asset-name">
                <%= link_to a, assets_path + '/' + a %>
              </span>
            <% end %>
          </p>
        </div>
      <% end %>
    <% else %>
      No asset information found.
    <% end %>
  </div>
</div>
