<% content_for(:title) { 'Appliance Information' } %>

<div class="row center mt-3" style="width: 90%;">
  <div class="col" style="min-width: 60%;">
    <%# Cloud Instance Information Card %>
    <div class="card d-flex mb-2">
      <h5 class="card-header">Cloud Instance Information</h5>
      <div class="card-body">
        <% @info.each do |k, v| %>
          <b><%= k.capitalize %></b> : <%= v %><br>
        <% end %>
      </div>
    </div>

    <%# Network Stats Card %>
    <div class="card d-flex mb-2">
      <h5 class="card-header">Network Stats</h5>
      <div class="card-body">
        <% @network.each do |k, v| %>
          <b><%= k.capitalize %></b> : <%= v %><br>
        <% end %>
      </div>
    </div>

    <%# Appliance Information Card %>
    <% unless @content.empty? %>
      <div class="card d-flex mb-2">
        <h5 class="card-header">Information</h5>
        <div class="card-body">
          <%= @content.html_safe %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col">
    <%= render 'eng_mode_controls' %>
    <%= render 'machine_controls' %>
  </div>
</div>
