<% content_for(:title) { 'Appliance Setup' } %>

<div class="setup-body">
<%= image_tag 'square-logo.png', size: '200x200', class: 'mt-4' %>
  <h1><%= Rails.application.config.application_name %> Appliance</h1>
  <br>
  <div>
    <div class="row center mt-3" style="width: 90%;">
      <div class="col">
        <%= form_for(:setup_network, url: setup_network_path, html: { id: 'setup_network', class: 'styled-form', style: 'min-width: 35%'}) do |f| %>
          <div class="row center">
            <div class="col">
              <div class="row">
                <h2>Step 2: Configure Network</h2>
              </div>
              <div class="row">
                <h6>This is the network cable plugged into your site network switch.</h6>
              </div>
            </div>
          </div>
          <hr>
          <div class="row mb-1 center">
            <h5><%= @init_network.capitalize %> Network:</h5>
          </div>
          <div class="row mb-1">
            <div class="col-sm-4 form-label mt-1">
              <%= f.label :ipv4, 'IP Address:' %>
            </div>
            <div class="col-sm-8">
              <%= f.text_field :ipv4, id: 'setup_network_ipv4', class: 'form-control', required: true %>
            </div>
           </div>
          <div class="row mb-1">
            <div class="col-sm-4 form-label mt-1">
              <%= f.label :netmask, 'Netmask:' %>
            </div>
            <div class="col-sm-8">
              <%= f.text_field :netmask, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-4 form-label mt-1">
              <%= f.label :gateway, 'Gateway:' %>
            </div>
            <div class="col-sm-8">
              <%= f.text_field :gateway, class: 'form-control' %>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-sm-4 form-label mt-1">
              <%= f.label :dns, 'DNS Server:' %>
            </div>
            <div class="col-sm-8">
              <%= f.text_field :dns, class: 'form-control', required: true %>
            </div>
          </div>
          <hr>
          <%= f.submit 'Next', class: 'btn btn-primary mt-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
